#HeaderBarFont {
    font-family: "SBAggroB";
    cursor: pointer;
}

#HeaderBarSubText {
    display: flex;
    justify-content: flex-end;
}

#footerBg{
    background-color: rgb(255, 234, 234, 0.5);
}