.Contact {
    background-color: #fde2e7;
}

.ContextMainText {
    font-size: 15px;
    font-family: "SBAggroB";
}

.ContextSubText {
    font-family: "SBAggroL";
    font-size: 13px;
}

a {
    text-decoration: none;
    color: black;
}

.before_tipBox{
    font-family: "SBAggroL";
}


.after_tipBox {
    width: 50%;
    margin: 0 auto;
    border-radius: 5%;
    background-color:rgb(255, 234, 234, 0.5);
    font-size: 15px;
    font-family: "SBAggroL";
}
